body {
  padding: 25px;
}

a {
  margin: 10px;
}

.buttons {
  max-height: 400px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

/* Button 1 */

#button1 {
  text-decoration: none;
  color: #ff33cc;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

#button1:hover:before {
  transform: rotate(0deg);
}

#button1:hover {
  color: #fff;
}

/* Button 2 */

#button2 {
  text-decoration: none;
  color: #00ddff;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  transform: translateX(-100%); /* translateY == top to bottom */
  transition: all 1s;
}

#button2:hover:before {
  transform: translateX(0);
}

#button2:hover {
  color: #fff;
}

/* Button 3 */

#button3 {
  text-decoration: none;
  color: #838dff;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 1s;
  z-index: -1;
  transform: rotateX(90deg);
}
#button3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 1s;
  z-index: -1;
  transform: rotateY(90deg);
}

#button3:hover:before {
  transform: rotateX(0);
}

#button3:hover:after {
  transform: rotateY(0);
}

#button3:hover {
  color: #fff;
}

/* Button 4 */

#button4 {
  text-decoration: none;
  color: #ffb700;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 500ms;
  letter-spacing: 0;
}

#button4:hover {
  font-weight: 900;
  letter-spacing: 5px;
  border-width: 8px;
}

/* Button 5 */

#button5 {
  text-decoration: none;
  color: #ff99da;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 500ms;
  letter-spacing: 0;
}

#button5:before {
  content: "Awesome!";
  color: #fff;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button5:hover:before {
  transform: translateY(0);
}

/* Button 6 */

#button6 {
  text-decoration: none;
  color: #83ff92;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button6:before {
  content: "";
  background-color: #bbb;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s;
}

#button6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

#button6:hover {
  background-color: #000;
  color: #fff;
}

/* Button 7 */

#button7 {
  text-decoration: none;
  font-size: 30px;
  border: 5px solid #bbb;
  background-color: #000;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  color: transparent;
}

#button7:before {
  content: "Hover me!";
  color: #ff33cc;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button7:after {
  content: "Hover me!";
  color: #ff33cc;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-100%, 100%);
}

#button7:hover:before {
  transform: translate(100%, -100%);
}

#button7:hover:after {
  transform: translate(0, 0);
}

/* Button 8 */

#button8 {
  text-decoration: none;
  color: #00cecb;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button8:before {
  content: "Hover me!";
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

#button8:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* button 9 */

#button9 {
  text-decoration: none;
  color: #b52876;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

#button9:before {
  content: "";
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

#button9:hover:before {
  height: 190%;
}

#button9:hover {
  color: #fff;
}

/* Button 10 */

#button10 {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  background-color: #bbb;
  padding: 20px 40px;
  position: relative;
  /* overflow: hidden; */
  transition: all 1s;
}

#button10:before {
  content: "Hover me!";
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

#button10:hover:before {
  transform: rotateX(0);
}

#button10:after {
  content: "Hover me!";
  color: #000;
  position: absolute;
  background-color: rgb(0, 255, 153);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: bottom;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

#button10:hover:after {
  transform: rotateX(0);
}

/* Button 11 */

#button11 {
  text-decoration: none;
  font-size: 30px;
  border: 5px solid #bbb;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  color: transparent;
}

#button11:before {
  content: "Hover me!";
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

#button11:after {
  content: "Hover me!";
  color: #fff;
  position: absolute;
  background-color: #000;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

#button11:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/* Button 13 */

#button13 {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  padding: 20px 40px;
  position: relative;
  margin-top: 20px;
  transition: all 1s;
  background-color: transparent;
}

#button13:before {
  content: "";
  position: absolute;
  background-color: #ff99da;
  mix-blend-mode: multiply;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  transform-origin: top;
}
#button13:after {
  content: "";
  position: absolute;
  background-color: #00ddff;
  mix-blend-mode: multiply;
  bottom: -5px;
  right: -5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  transform-origin: bottom;
}

#button13:hover:before {
  top: -7px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
#button13:hover:after {
  bottom: -7px;
  right: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

#button13:hover {
  color: #000;
}

/* Button 12 container */

.wide-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}

/* Button 12 */
#button12 {
  text-decoration: none;
  color: #fe7667;
  font-size: 30px;
  width: 270px;
  height: 80px;
  position: relative;
  transition: all 1s;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#button12:before,
#button12:after {
  content: "";
  position: absolute;
  background-color: #000;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

#button12:before {
  left: 0;
  box-shadow: -100px 0 0 #000;
}

#button12:after {
  right: 0;
  box-shadow: 100px 0 0 #000;
}

#button12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #000;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

#button12:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #000;
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

#button12 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}

#button12:hover span {
  transform: scale(1);
  transition-delay: 0.3s;
}

#button12:hover {
  color: #fff;
  transition-delay: 0.3s;
}

/* menu */

.nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul li a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #00ddff;
  text-transform: lowercase;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}

a:hover {
  color: #fff;
  text-transform: uppercase;
}

ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: top;
}

a:hover span {
  transform: scaleY(1);
}

span:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}

span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}

span:nth-child(4) {
  left: 75%;
  transition-delay: 0.45s;
}

/* image section */

.images {
  margin-top: 50px;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* image 1 */

.container1 {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.image1 {
  width: 100%;
}

.caption1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
}

.caption1 h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption1 p {
  font-size: 18px;
  text-transform: capitalize;
}

.container1:hover .caption1 {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container1:hover .image1 {
  transform: scale(1.3) rotate(15deg);
}

/* image 2 */

.container2 {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.image2 {
  width: 100%;
}

.caption2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
}

.caption2 h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption2 p {
  font-size: 18px;
  text-transform: capitalize;
}

.container2:hover .caption2 {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container2:hover .image2 {
  transform: scale(1.3) rotate(15deg);
}
